*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:url('wallpaper.jpg')no-repeat;
    background-size:cover;
    background-position: center;


  }
  .login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(225, 225, 225, .5);
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px)
  }
  h2{
    font-size: 2em;
    color:rgb(255, 252, 252);
    text-align: center;

  }
  .input-box{
    width: 310px;
    margin:30px 0;
    border-bottom: 2px solid rgb(248, 248, 248);
    position: relative;
  }
  .input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size:1em;
    color: rgb(248, 234, 234);
    pointer-events: none;
    transition: .5s;
  }
  .input-box input:focus~label,
  .input-box input:valid~label{
    top: -5px;
  }
  .input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:rgb(245, 245, 245);
    padding: 0 35px 0 5px;
  }
  .input-box .icon{
    position: absolute;
    right: 8px;
    color: rgb(245, 245, 245);
    font-size: 2em;
    line-height: 57px; 
  }
  button{
    width: 100%;
    height: 40px;
    background: rgb(252, 252, 252);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color:rgb(8, 2, 2);
    font-weight:500;
  }
  .mm p{
    font-size: 1em;
    color:rgb(255, 253, 253);
    text-align:center;
  }
  .social-icon{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .social-icon a{
    display: block;
    height: 40px;
    width: 14%;
    line-height: 45px;
    text-align: center;
    border-radius: 150px;
    font-size: 10px;
   /* color: #0040ff;*/
    text-decoration: none;
    transition: all 0.3s linear;
  }
  .social-icon span{
    margin-left: 3px;
    font-size: 18px;

  }
  .social-icon a:frist-child{
    margin-right: 5px;
    background: rgb(245, 243, 243);
  }

  .social-icon a:last-child{
    margin-left: 5px;
    background: #e0dddd;
  }
  .social-icon a:last-child:hover{
    background: #dfd80a;
  }


.register-link{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;
}

